<div>
    <div class="bg-image" style=" background-image: url('../Imagens/fotos_da_van/VAN_2020.jpeg'); height: 30vh; ">
        <div class="mask" style="background-color: rgba(35,35,31,0.4);height: 30vh;backdrop-filter: blur(3px);">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-light mt-5 carrosel">
                        <h1 class="text-sm-center">SEGURANÇA</h1>
                        <h3 class="text-sm-center"> Veiculo vistoriado pelo DETRAN e Prefeitura </h3>
                    </div>
                    <div class="carousel-item text-light mt-5">
                        <h1 class="text-sm-center">CONFIANÇA</h1>
                        <h3 class="text-sm-center"> Há mais de 14 anos trabalhando com transporte escolar </h3>
                    </div>
                    <div class="carousel-item text-light mt-5">
                        <h1 class="text-sm-center">CONFORTO</h1>
                        <h3 class="text-sm-center"> Ar condicionado e tv para conforto dos seus filhos </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="texto mb-0">
                Há mais de 14 anos trabalhando com tranporte escolar no município de São Vicente, buscamos sempre o melhor
            para atender nossos clientes. Veiculo equipado com ar-condicionado, TV e todos os ítens de segurança como
            trava nos vidros, extintores, martelo, cinto de segurança.
        </>
        <p class="texto mb-0">
            Somos licenciados pelos orgãos fiscalizadores de trânsito
            como SETRANS e DETRAN, que realizam 4 vistorias anuais para garantir que o seu filho será transportado com toda
            a segurança que ele merece.
        </p>
        <p class="texto mb-0">
            Exija de seu transportador o alvará emitido pela prefeitura em dia, ele é a garantia de que está tudo certo
            para levar o seu bem mais precioso. <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5513991846502">Clique aqui</a> e faça seu orçamento.
        </p>

    </div>
    

</div>
