    <h1>SEJA BEM VINDO</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
    
            <h3>Área exclusiva para novos clientes</h3>
            <hr />
            <h4>Se você não tem a senha de acesso por favor </h4>
            <h4> entrar em contato pelo telefone (13) 99184-6502</h4>
 
    </div>
    <div class="col-md-3 col-md-offset-2">

        <form method="post">
                <h4>Entre com o usuario e a senha enviados pelo WhatssApp</h4>
                <hr />
                <div>
                    <input type="text" name="usuario" class="form-control" placeholder="Usuário" aria-required="true"/>
                </div>

                <br />

                <div>
                    <input type="text" name="senha" class="form-control" placeholder="Senha" aria-required="true"/>
                </div>

                <br/>

                <div>
                    <div class="checkbox" >
                    <button class="form-control btn-primary">Acessar</button>
                    </div>
                </div>
                
            </form>
        
    </div>
</div>