/* Estilos comuns */
.topo {
    height: 100px;
    background-color: yellow;
}

.h1 {
    font-weight: bold;
    color: black;
    animation-duration: 5s;
    animation-iteration-count: 1;
    text-align: center;
}

.whats {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
}

.telefone {
    width: auto;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: rgb(35, 33, 33);
}

.telefone h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    transform: translateX(100%);
    animation: telefone 10s linear infinite;
}

.menu {
    margin-left: 40px;
}

.radius {
    border-radius: 10px;
}

.mask-custom {
    backdrop-filter: blur(4px);
    background-color: rgba(101, 110, 53, 0.6);
}

.texto {
    font-family: Apple Chancery, cursive;
    font-size: 18px;
    text-indent: 4ch;
}

.fotos {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    font-size: 12px;
}

.frase {
    font-size: 12px;
}

.red-icon {
    color: red;
}

.green-icon {
    color: green;
}

.indicador {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}
.green-icon .indicador {
    color: green;
}

/* Keyframes */
@keyframes letras {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes telefone {
    0%, 100% {
        transform: translateX(100%);
    }

    40%, 60% {
        transform: translateX(0%);
    }
}

/* Media Queries */
@media(max-width: 575.98px) {
   
    .h1 {
        font-size: 25px;
        animation-name: letras;
        text-align:center;
    }
}

@media(min-width: 576px) and (max-width: 767.98px) {

    .h1 {
        font-size: 35px;
        animation-name: letras;
        text-align: center;
    }
}

@media(min-width: 768px) and (max-width: 991.98px) {
   
    .h1 {
        font-size: 50px;
        animation-name: letras;
    }
}

@media(min-width: 992px) and (max-width: 1199.98px) {
    
    .h1 {
        font-size: 70px;
        animation-name: letras;
    }
}

@media(min-width: 1200px) {
   
    .h1 {
        font-size: 80px;
        animation-name: letras;
    }
}
