<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <img src="~/Imagens/em_construcao1.jpg" class="img-fluid">
            </div>
            <div>
                <div class="jumbotron">
                    <p>
                        <h2>Aqui ficará a área Financeira</h2>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>