<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-0">
        <div class="container">
            <div class="row align-items-center footer">
                <div class="col-sm-4" style="color: white">
                    <h4 class="frase">Professores ensinam, pais educam, nós transportamos!</h4>
                </div>
                <div class="col-sm-3 footer" style="color: white">
                    <span>
                        <img src="/Imagens/phone-app-icon.png" />
                    </span>
                    <p class="py-1"> (13) 99184-6502</p>
                </div>
                <div class="col-sm-3 footer" style="color: white">
                    <span>
                        <img src="~/Imagens/Envelope-icon24.png" />
                    </span>
                   <p class="py-1"> <a href="mailto:escolar32sv@gmail.com" 
                   style="color: yellow">escolar32sv@gmail.com</a></p>
                </div>
                <div class="col-sm-2" style="color: white">
                    <p> &copy; 2023 - Escolar 32</p>
                </div>
            </div>
        </div>
    </nav>
</footer>