@model Escolar32.Models.Bairro

<h1>Apagar Bairro</h1>

<h3>Você está certo disso?</h3>
<div>
    <h4>Bairro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BairroId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
