@model IEnumerable<Escolar32.Models.Bairro>

<div class="container">

    <div class="row">

        <h1>Lista de Bairros</h1>

        <p>
            <a class="fa-solid fa-file-circle-plus green-icon" asp-action="Create"></a>
        </p>
        <table class="col-md-12">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BairroNome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BairroNome)
                    </td>
                    <td>
                            <a class="fa-solid fa-trash-can red-icon" asp-action="Delete" asp-route-id="@item.BairroId"></a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
