<div class="row">
    ﻿<div class="col-md-3 mt-5">
        <div class="fotos">
            <a href="https://www.colegiocaminhosdosaber.com.br/" target=" _blank">
                <img class="img-fluid" src="~/Imagens/LOGO CCS.jpg">
            </a>
        </div>
    </div>
    <div class="col-md-3 mt-2">
        <div class="fotos ">
            <a href="https://www.facebook.com/colegiolidersv/" target=" _blank">
                <img class="img-fluid" src="~/imagens/lider.png">
            </a>
        </div>
    </div>
    <div class="col-md-3">

        <div class="fotos mt-5">
            <a href="http://www.jeanpiagetsvpg.com.br/" target=" _blank">
                <img class="img-fluid" src="~/imagens/LOGO JEAN PIAGET.png">
            </a>
        </div>
    </div>
    <div class="col-md-3 mt-2">
        <div class="fotos">
            <a href="https://www.colegioculturapg.com.br/" target=" _blank">
                <img class="img-fluid" src="~/imagens/externato.jpg">
            </a>
        </div>
    
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Home">Voltar</a>
    </div>
</div>
